.exhibiting {
    color: #333;

    .card-title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        font-size: 24px;

        p {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            color: #888;

            a {
                &:hover {
                    color: #00ae66;
                }
            }
        }
    }

    .card-box {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 20px 0;
    }

    .card-intro {
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 12px;
        font-weight: bold;
        color: #aaa;
        height: 30px;
    }
}