.setting {
    &-form {
        p {
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 5px;
            margin-left: 5px;
        }

    }

    &-btn {
        width: 750px;
        margin: 0 auto;
    }
}