.Container {
    width: 1150px;
    margin: 0 auto;

    header {
        h1.title {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 36px;
            font-weight: bold;
        }

        .subTitle {
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            font-size: 16px;

            .right {
                font-weight: bold;
                color: #3072f6;
            }
        }
    }

    .item-box {
        margin-bottom: 80px;
        display: flex;
    }
}