.my-slider {
    height: 500px;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-top {
    height: 80%;
}

.swiper-button-next {
    background-color: #eee;
}

.swiper-button-prev {
    background-color: #eee;
}