.admin {
    background-color: rgb(235, 235, 235);
    &-register, &-login {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 722px;
        background: url(../assets//admin.jpg) center center no-repeat;
    }
}