.rent_detail {
    margin-bottom: 45px;

    &-content {
        width: 1150px;
        margin: 0 auto;
    }

    .card-box {

        display: flex;

        &-left {
            width: 710px;
            padding: 0 60px;
        }

        &-right {
            margin-left: 10px;
            flex: 1;

            .info {
                font-size: 12px;

                h1 {
                    color: #E4393C;
                    font-size: 36px;
                    font-weight: bold;
                }

                .unit {
                    color: #E4393C;
                    font-size: 16px;
                }
            }

            .contact {
                .self_info {
                    display: flex;
                    align-items: center;

                    .name {
                        margin-right: 10px;
                        font-weight: bold;
                        font-size: 18px;
                        color: #333;
                    }

                    .identity {
                        padding: 0 6px;
                        font-size: 12px;
                        color: #888888;
                        border: 1px solid #d8d7d8;
                        background: #f1f1f1;
                    }
                }

                .phone {
                    margin-top: 10px;
                    font-size: 20px;
                    color: #E4393C;
                }
            }
        }
    }

    .iconfont {
        margin: 0 20px;
        font-size: 40px;
        font-weight: bold;
    }

}