.admin-header {
    display: flex;
    align-items: center;
    height: 64px;
    background-color: #36404a;
    color: #edf0f0;

    .title {
        font-weight: bold;
        margin-left: 80px;
    }

    .message {
        margin-right: 50px;
        height: 33px;
        line-height: 33px;
        flex: 1;
        text-align: right;

        .symbol {
            position: relative;
            font-size: 22px;

            .right-count {
                position: absolute;
                top: 0;
                right: 0;
                width: 14px;
                height: 14px;
                line-height: 14px;
                background: #f00;
                border-radius: 50%;
                font-size: 8px;
                font-weight: bold;
                text-align: center;
            }
        }
    }
}